body {
  background-color: #222438;
}

h1 {
  font-family: titillium-web;
  color: white;
  text-align: center;
}

p {
  font-family: titillium-web;
  font-size: 20px;
  color: white;
  text-align: center;
}
@font-face {
    font-family: titillium-web;
    src: "TitilliumWeb-Regular.ttf" format('truetype');
    font-weight: regular;
    font-style: normal;
}
